---
import Error404 from '../layouts/404.astro';
---
<Error404>
    <div class="flex min-h-full flex-col">
        <main class="mx-auto flex w-full max-w-7xl flex-grow flex-col px-4 sm:px-6 lg:px-8">
            <div class="my-auto flex-shrink-0 py-16 sm:py-32">
                <p class="text-base font-semibold text-indigo-600">Ошибка 404</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Страницы не существует</h1>
                <p class="mt-2 text-base text-gray-500">Мы сожалеем, но страницы, которую вы искали, нет на нашем сайте.</p>
                <div class="mt-6">
                    <a href="/" class="text-base font-medium text-indigo-600 hover:text-indigo-500">
                        На главную
                        <span aria-hidden="true"> &rarr;</span>
                    </a>
                </div>
            </div>
        </main>
    </div>
</Error404>