---
const currentPath = Astro.url.pathname;
const year = new Date().getFullYear()

import SpecVagonMashModal from "./SpecVagonMashModal";
import SpecVagonMashButton from "./SpecVagonMashButton";
---

<div class="bg-white relative overflow-hidden ">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 md:py-16 lg:px-8 lg:py-12">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Нужна консультация ?</span>
        </h2>
        <p class="text-xl text-gray-500">Наши специалисты подскажут и помогут</p>
        <div class="mt-8 flex">

            <div class="inline-flex rounded-md shadow">
                <SpecVagonMashButton client:only="react" />
            </div>

            {!currentPath.includes('contacts') && (
                    <div class="ml-3 inline-flex">
                        <a href={new URL('http://itsect.github.io/specvagonmash/contacts')}
                           class="inline-flex items-center justify-center px-5 py-3 border text-base font-medium rounded-md text-gray-400 text-gray-500 hover:bg-gray-100 border-gray-300 border shadow-sm">Контакты</a>
                    </div>
            )}
        </div>
    </div>
</div>

<footer class="bg-gray-50" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>

    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">

        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div className="">
                <a href={new URL('http://itsect.github.io/specvagonmash/')}>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 476.4 89.2" className={'w-auto h-12 text-3xl fill-gray-500'}>
                        <path fillRule={'evenodd'} clipRule={'evenodd'} d="M75.2,53l1.9-6.8l4.2-0.3l4.5-1.4v-3l0,0C85.8,18.6,66.5,0,42.9,0S0,18.5,0,41.4l0,0v0.1l0,0v3.1l4.5,1.4
	l4.3,0.4l1.9,6.8l-3.5,2.3l-3.2,3.3l3.7,6.1l4.6-1l3.9-1.8l5.1,5l-1.8,3.7l-1,4.4l6.3,3.6l3.5-3l2.5-3.4l7,1.8l0.3,4.1l1.4,4.3h7.3
	l1.4-4.3l0.4-4.1l7-1.8l2.4,3.4l3.4,3.1l6.3-3.6l-1-4.4L64.8,67l5.1-4.9l3.8,1.8l4.6,1l3.6-6.1l-3.1-3.4L75.2,53L75.2,53z
	 M42.9,67.5c-15.1,0-27.3-11.8-27.3-26.4s12.2-26.6,27.3-26.6s27.3,12,27.3,26.5S58,67.5,42.9,67.5z M71.8,41.5c0-0.1,0-0.2,0-0.3
	l0,0v-0.1c0-15.5-13-28-28.9-28S14,25.7,14,41.1v0.1l0,0c0,0.1,0,0.2,0,0.2H4C4,20.6,21.4,3.7,42.9,3.7s38.9,17,38.9,37.8H71.8
	L71.8,41.5z M63.1,30.4c-2.7-4.5-7.6-7.2-12.8-7.2c-2.5,0-5,0.6-7.2,1.8c-4.5-2.3-9.9-2.2-14.4,0.2c-3.4,1.9-5.8,5-6.9,8.7
	c-1,3.7-0.5,7.6,1.5,10.9c1.2,2.1,2.9,3.8,5,5c0.1,2.4,0.8,4.7,2,6.7c2.7,4.5,7.6,7.2,12.8,7.2c2.6,0,5.1-0.7,7.4-1.9
	c4.4-2.4,7.2-7,7.4-12c3.3-1.9,5.7-5,6.7-8.6C65.6,37.5,65.1,33.6,63.1,30.4L63.1,30.4z M49.5,38c-0.1,4.3-2.5,8.3-6.2,10.6
	c-1.9-1.1-3.4-2.7-4.6-4.6c-1.1-1.9-1.7-4-1.8-6.2C40.9,35.9,45.6,36,49.5,38z M24.5,44.1c-1.8-3-2.3-6.5-1.3-9.8
	c0.9-3.4,3.2-6.2,6.3-7.9c3.8-2.1,8.4-2.3,12.3-0.5c-3.7,2.6-6,6.7-6.2,11.2l0,0c-4.1,2.3-6.7,6.5-7.2,11.2
	C26.8,47.2,25.5,45.8,24.5,44.1L24.5,44.1z M49.8,60.6c-2,1.1-4.3,1.7-6.7,1.7c-4.7,0-9.1-2.4-11.6-6.5c-1-1.6-1.6-3.4-1.7-5.3
	c2,0.9,4.2,1.4,6.3,1.4l0,0c2.5,0,5-0.6,7.2-1.8l0,0c4.1,2.1,8.9,2.3,13.1,0.4C56,54.8,53.5,58.6,49.8,60.6L49.8,60.6z M63.2,40.9
	c-0.8,3-2.8,5.7-5.4,7.4c-0.2-2.1-0.8-4.2-1.9-6c-1.2-2.1-2.9-3.8-5-5l0,0c-0.1-2.4-0.8-4.7-2-6.7c-1.1-1.9-2.6-3.4-4.4-4.6
	c6.3-3,13.8-0.8,17.4,5.2C63.7,34,64.2,37.6,63.2,40.9z"/>
                        <text transform="matrix(1 0 0 1 111.3305 54.7549)" style={{fontFamily: 'Arial Black'}}>
                            СПЕЦВАНГОСНАБ
                        </text>
                    </svg>
                </a>
                <p class="text-base text-gray-500 mt-6">СПЕЦВАГОНСНАБ – российская компания, являющаяся официальным
                    дилером
                    Parveen, ведущего производителя нефтегазового оборудования</p>

            </div>
            <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="fillRule">
                    <div>
                        <h3 class="text-base font-medium text-gray-900">Решения</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href={new URL('http://itsect.github.io/specvagonmash/products')}
                                   class="text-base text-blue-500 hover:text-blue-700">Продукция</a>
                            </li>
                            <li>
                                <a href={new URL('http://itsect.github.io/specvagonmash/certificates')}
                                   class="text-base text-blue-500 hover:text-blue-700">Сертификаты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fillRule">
                    <div>
                        <h3 class="text-base font-medium text-gray-900">Компания</h3>
                        <ul role="list" class="mt-4 space-y-4">
                            <li>
                                <a href={new URL('http://itsect.github.io/specvagonmash/about')}
                                   class="text-base text-blue-500 hover:text-blue-700">О компании</a>
                            </li>
                            <li>
                                <a href={new URL('http://itsect.github.io/specvagonmash/contacts')}
                                   class="text-base text-blue-500 hover:text-blue-700">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-12 border-t border-gray-200 pt-8">
            <p class="text-base text-gray-400 xl:text-center">&copy; {year} – ООО «СПЕЦВАГОНСНАБ»</p>
        </div>
    </div>
</footer>

<SpecVagonMashModal client:only="react" />