---
const origin = 'https://itsect.github.io/specvagonmash/'.origin
---

<div class="relative bg-white">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a href="#">
                    <span class="sr-only">Your Company</span>
                    <!--<img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">-->
                </a>
            </div>
            <div class="-my-2 -mr-2 md:hidden">
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <nav class="hidden space-x-10 md:flex">
                <a href={new URL('./products/', 'https://itsect.github.io/specvagonmash/')} class="text-base font-medium text-gray-500 hover:text-gray-900">Продукция</a>
                <a href={new URL('./about/', 'https://itsect.github.io/specvagonmash/')} class="text-base font-medium text-gray-500 hover:text-gray-900">О компании</a>
                <a href={new URL('./contacts/', 'https://itsect.github.io/specvagonmash/')} class="text-base font-medium text-gray-500 hover:text-gray-900">Контакты</a>
            </nav>
        </div>
    </div>

    <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->

    <!--<div class="absolute inset-x-0 top-0 origin-top transform p-2 transition md:hidden">-->
    <!--    <div class="overflow-hidden rounded-lg bg-white shadow-md ring-1 ring-black ring-opacity-5">-->
    <!--        <div class="flex items-center justify-between px-5 pt-4">-->
    <!--            <div>-->
    <!--                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">-->
    <!--            </div>-->
    <!--            <div class="-mr-2">-->
    <!--                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">-->
    <!--                    <span class="sr-only">Close menu</span>-->
    <!--                    &lt;!&ndash; Heroicon name: outline/x-mark &ndash;&gt;-->
    <!--                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
    <!--                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
    <!--                    </svg>-->
    <!--                </button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="pt-5 pb-6">-->
    <!--            <div class="space-y-1 px-2">-->
    <!--                <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Продукция</a>-->
    <!--                <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">О компании</a>-->
    <!--                <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 hover:bg-gray-50">Контакты</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>