---
import {getCollection, getEntry} from 'astro:content';
import ProductsLayout from '../../layouts/products.astro';

const allProducts = await getCollection('products');
---
<ProductsLayout>
    <div class="mx-auto max-w-2xl px-4 pt-16 pb-24 sm:px-6 sm:pt-24 sm:pb-32 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <ol class="list-decimal">
            {allProducts.map(p => {

                    return (
                            <li>
                                <a href={'/products/' + p.slug}>{p.data.title}</a>
                            </li>

                    )
                }
            )}
        </ol>
    </div>
</ProductsLayout>